[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mongoengine = "*"
mongoengine-goodjson = "*"
flask = "*"
flask-mongoengine = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.9"
